.todo-list li {
  list-style-type: none;
  font-size: 20px;
}

.note-row {
  position: relative;
}

.note-row input {
  transform: scale(1.3);
  opacity: 0.9;
  cursor: pointer;
}

.todo-list input:checked + label {
  text-decoration: line-through;
  color: grey;
}

.todo-list img {
  width: 10px;
  height: 10px;
}

.todo-list button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: white;
}

.main-container {
  width: 300px;
  border: solid green 3px;
  display: flex;
  align-items: left;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: grey;
  padding: 30px;
}

body {
  padding: 50px 0px 0px 50px;
}

.new-note {
  border-color: 1px solid lightgray;
}

.hidden {
  display: none;
}

.todo-list div {
  padding: 10px 0px 10px 0px;
}

.todo-list label {
  display: inline-block;
  overflow: hidden;
  max-width: 200px;
}
